/* Import Section */

@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

/* End Import Section  */

/* Fuentes y Colores a utilizar

font-family: 'Handlee', cursive;
font-family: 'Montserrat' sans-serif; 
color_principal: #fa573a
color_secundario: #21242e
*/

/* Variables Root */

:root {
  --fuente-principal: "Montserrat", sans-serif;
  --fuente-titulos: "Handlee", cursive;
  --colorprimario: #fa573a;
  --colorsecundario: #21242e;
  --margin: 1em;
  --maxwidth: 68.75em;
  --fontsize: 1em;
}

/* Scroll Animado */

html {
  scroll-behavior: smooth;
}

/* Estilos Globales */

body {
  font-family: var(--fuente-principal) !important;
  font-size: var(--fontsize) !important;
}

.container {
  max-width: var(--maxwidth);
  margin: 0 auto;
}

img {
  height: auto;
  display: block;
  width: 100%;
}

/* Star Header */

header .nav__bar {
  background-color: var(--colorsecundario);
  padding: 1.25em 0em;
}

header .nav__bar .container {
  display: flex;
  justify-content: space-around;
}

header .nav__bar a {
  color: var(--colorprimario);
  text-decoration: none;
  font-size: 1.2em;
}

header .nav__bar a span {
  color: white;
  display: none;
}

header nav {
  background-color: white;
  padding: 1.25em;
}

header nav .container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

header nav .container .logo {
  max-width: 6.25em;
}

header nav .container .hamburguesa {
  width: 1.875em;
  cursor: pointer;
}

header nav .container .hamburguesa > div {
  border-top: 2px solid #aaa;
  margin-bottom: 0.625em;
}

header nav .container ul.menu {
  width: 100%;
  text-align: center;
}

header nav .container .menu li a {
  display: block;
  padding: 1.25em;
  font-size: 1rem;
  text-decoration: none;
  color: #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}

header nav .container .menu li:last-child a {
  border: 0px;
}

header nav .container .menu li :is(a:hover, .activo) {
  color: var(--colorprimario);
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s;
}

/* End Header */

/* Star hero */

.hero__container {
  background-color: #999;
  background-image: url(./img/fondo.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  color: white;
  display: flex;

  h1 {
    font-family: var(--fuente-titulos);
    font-size: 2em;
  }
  h2 {
    color: var(--colorprimario);
    font-size: 1.25em;
  }

  p {
    font-size: 1.15em;
  }

  ul {
    display: flex;
    width: 10em;
    justify-content: space-between;

    a {
      color: white;
      font-size: 2em;
      text-decoration: none;
      transition: 1s;

      &:hover {
        color: var(--colorprimario);
        font-size: 3em;
      }
    }
  }
}

.hero__container .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.boton {
  display: inline-block;
  background-color: var(--colorprimario);
  padding: 1.15em;
  color: white;
  text-decoration: none;
  border: 1px solid var(--colorprimario);

  &:hover {
    background-color: transparent;
    color: var(--colorprimario);
  }

  i {
    transition: 1s;

    &:hover {
      transform: translateX(5px) scale(1.2);
    }
  }
}

:is(h2, .boton) {
  margin: var(--margin) 0;
}

/* End Hero */

/* Star Main */
/* -> Services Container */

main section {
  padding: 2.125em 1.5em;

  h2 {
    color: black;
    font-family: var(--fuente-titulos);
    font-size: 2em;
    text-align: center;

    span {
      color: var(--colorprimario);
    }
  }

  .drawline {
    position: relative;
    font-weight: 700;
    text-align: center;
    width: 6.25em;
    margin: 0 auto;
    color: var(--colorprimario);

    span {
      position: absolute;
      top: -0.4em;
    }

    hr {
      color: var(--colorprimario);
    }
  }
}

main .service__boxes {
  article {
    border: 0px;
    border-bottom: 2px solid #aaa;
  }

  h3 {
    font-weight: 700;
    font-size: 1em;
    margin: 0.3em 0;
  }

  p {
    color: var(--colorsecundario);
    font-size: 0.95em;
    line-height: 1.25em;
    margin: 0.5em 0em;
  }

  a {
    display: block;
    width: 100%;
    color: var(--colorprimario);
    text-decoration: none;
    margin: 0.8em 0;
    font-weight: 700;
  }

  i.fa-truck {
    transform: rotateY(180deg);
  }
  i:is(.fa-cogs, .fa-truck, .fa-heart) {
    color: var(--colorprimario);
    border: 1px solid var(--colorprimario);
    font-size: 1.25em;
    padding: 0.5em;
    margin: 0.5em 0;
  }
}

/* -> End Services container */

/* -> Star About Container */

main .about__container {
  margin-bottom: 4.375em;
}

main section .flex {
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: 700;
    font-size: 1.1em;
  }

  h4 {
    font-size: 1em;
    margin: var(--margin) 0;
    color: var(--colorprimario);
  }

  figure.imagen {
    width: 95%;
    margin: 2.5em auto;

    .marco {
      border: 3px solid var(--colorprimario);
      transition: 1s;
      transform: rotateZ(10deg);

      &:hover {
        :is(.marco, .marco img) {
          transform: rotateZ(0deg);
        }
      }

      img {
        transform: rotateZ(-10deg);
        transition: 1s;
      }
    }
  }
}

/* -> End About Container */
/* End Main */

/* Star Footer */
footer {
  position: fixed;
  background-color: var(--colorsecundario);
  padding: 1rem 0 !important;
  text-align: center;
  color: white;
  width: 100%;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: var(--colorprimario);
}

/* End Footer */

/* Arrow Up */
.arrow__up a {
  display: block;
  position: fixed;
  bottom: 1.3em;
  right: 1.3em;
  color: var(--colorprimario);
  font-size: 3rem;
}
/* End Arrow */
